<div class="container">
  <nav class="sidebar">
    <h2>Menu</h2>
    <ul>
      <li>
        <a href="#">Cadastro</a>
        <ul class="submenu">
          <li><a routerLink="/clientes">Clientes</a></li>
          <li><a routerLink="/clientes/novo">Novo Cliente</a></li>
          <li><a routerLink="/projetos">Projetos</a></li>
          <li><a routerLink="/projetos/novo">Novo Projeto</a></li>
          <li><a routerLink="/perfis">Perfis</a></li>
          <li><a routerLink="/perfis/novo">Novo Perfil</a></li>
          <li><a routerLink="/funcionarios">Funcionários</a></li>
          <li><a routerLink="/funcionarios/novo">Novo Funcionário</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Configurações</a>
        <ul class="submenu">
          <li><a routerLink="/feriados">Feriados</a></li>
          <li><a routerLink="/feriados/novo">Novo Feriado</a></li>
          <li><a routerLink="/ferias-licencas">Férias/Licenças</a></li>
          <li><a routerLink="/ferias-licencas/novo">Nova Férias/Licença</a></li>
          <li><a routerLink="/configuracoes/afastamentos">Afastamentos</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Controle de Horas</a>
        <ul class="submenu">
          <li><a routerLink="/horas-trabalhadas">Horas Trabalhadas</a></li>
          <li><a routerLink="/horas-trabalhadas/novo">Nova Hora Trabalhada</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>